*{
    margin: 0;
    padding: 0;
    
}

body{
    background: #FFF;
}

.contenedor{
    background-image: url(https://i.ibb.co/Ksh05ww/IMG-20220915-162221.jpg);
    align-content: center;
    justify-content: center;
    display: grid;
    height: 100vh;
    background-size: cover;
    font-size: 120%;
    
}

.btn{
    border: 3px solid rgba(100, 100, 100, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    width: 100px;
    font-family: 'poppins',sans-serif;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-size: 300%;
    transition: 0.6s;
    text-decoration: none;
}

.btn:hover{
    background-position: right;
}

.bnt1{
    background-image: linear-gradient(to left,#1f7914ee,#5fce54,#1f7914ee);
}
.bnt2{
    background-image: linear-gradient(to left,#5fce54,#1f7914ee,#5fce54);
}
.bnt3{
    background-image: linear-gradient(to left,#1f7914ee,#5fce54,#1f7914ee);
}
.bnt4{
    background-image: linear-gradient(to left,#5fce54,#1f7914ee,#5fce54);
}
.bnt5{
    background-image: linear-gradient(to left,#1f7914ee,#5fce54,#1f7914ee);
}
