 body {
    margin: 500;
    padding: 100;
    background-color: steelblue;
    background-image: url(https://i.ibb.co/Ksh05ww/IMG-20220915-162221.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-size: 110%;
  }


 a {
    display: block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 80;
    border-radius: 15px;
    margin: 60px 550px;
    padding: 13px 60px;
    background-color: #12480afd;
    color: rgb(255, 255, 255);
    text-decoration: none;
}    
     a :hover {
    background-color: rgb(11, 213, 11);
    border: 2PX solid #0bdfaa;
    color: #000000;
}
